src/Backend/Store/Model/Capabilities/capabilities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xml="http://www.w3.org/XML/1998/namespace"
            xmlns:caps="http://0install.de/schema/desktop-integration/capabilities"
            xmlns:feed="http://zero-install.sourceforge.net/2004/injector/interface"
            targetNamespace="http://0install.de/schema/desktop-integration/capabilities"
            id="capabilities" elementFormDefault="qualified">
  <xsd:import namespace="http://www.w3.org/XML/1998/namespace" />
  <xsd:import namespace="http://zero-install.sourceforge.net/2004/injector/interface" schemaLocation="http://0install.de/schema/injector/interface/interface.xsd" />

  <!-- Root element -->
  <!-- Note: This namespace is intended to be embedded within other and not for stand-alone use! -->
  <xsd:element name="capabilities" type="caps:capabilities" />
  <xsd:complexType name="capabilities">
    <xsd:annotation>
      <xsd:documentation>
        Groups a number of application capabilities (for a specific operating system) that can be registered in a desktop environment.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="registration" type="caps:registration" />
      <xsd:element name="com-server" type="caps:com-server" />
      <xsd:element name="context-menu" type="caps:context-menu" />
      <xsd:element name="auto-play" type="caps:auto-play" />
      <xsd:element name="file-type" type="caps:file-type" />
      <xsd:element name="default-program" type="caps:default-program" />
      <xsd:element name="url-protocol" type="caps:url-protocol" />
    </xsd:choice>
    <xsd:attribute name="os" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>
          Determines for which operating system the capabilities are applicable.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <!-- Capabilities -->
  <xsd:complexType name="capability" abstract="true">
    <xsd:annotation>
      <xsd:documentation>
        A capability tells the desktop environment what an application can do and in which fashion this can be represented to the user. It does not change the behaviour of existing UI elements.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="id" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>
          An ID that differentiates this capability from other capabilities of the same time within the interface. Also serves as a programmatic identifier within the desktop environment.
          In case of conflicts, the first capability listed with a specific ID will take precedence.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="registration">
    <xsd:annotation>
      <xsd:documentation>
        Indicates that an application should be listed in the "Set your Default Programs" UI (Windows Vista and later).
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="caps:capability">
        <xsd:attribute name="capability-reg-path" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:appinfo>
              The registry path relative to HKEY_LOCAL_MACHINE which is used to store the application's capability registration information.
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="x64" type="xsd:boolean">
          <xsd:annotation>
            <xsd:appinfo>
              Set to true for real 64-bit applications whose registry entries do not get redirected by WOW.
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="default-capability" abstract="true">
    <xsd:annotation>
      <xsd:documentation>
        A capability that can be applied as a default handler for something at the user's request.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="caps:capability">
        <xsd:attribute name="explicit-only" type="xsd:boolean">
          <xsd:annotation>
            <xsd:documentation>
              When set to true do not apply this capability is not applied as a default handler without explicit confirmation from the user.
              Use this to exclude exotic capabilities from default integration categories.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="icon-capability" abstract="true">
    <xsd:annotation>
      <xsd:documentation>
        A capability that that can have multiple icons and descriptions.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="caps:default-capability">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="description" type="caps:localizable-string">
            <xsd:annotation>
              <xsd:documentation>
                Human-readable descriptions of the AutoPlay operation.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="feed:icon">
            <xsd:annotation>
              <xsd:documentation>
                An icon to represent the capability. Used for things like file icons.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="verb-capability" abstract="true">
    <xsd:annotation>
      <xsd:documentation>
        A capability that that can have multiple verbs.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="caps:icon-capability">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="verb" type="caps:verb" />
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="verb">
    <xsd:annotation>
      <xsd:documentation>
        The mapping of an action/verb (e.g. open, edit) to a command.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="description" type="caps:localizable-string">
        <xsd:annotation>
          <xsd:documentation>
            Human-readable description of the verb as an alternative to 'name'.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
    <xsd:attribute name="name" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>
          The name of the verb. Use canonical names to get automatic localization; specify &lt;description&gt; otherwise.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="command" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>
          The name of the command in the feed to use when launching via this capability; leave unset or empty for 'run'.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="args" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>
          A custom arguments list to be passed to the command. %1 will be replaced with the path of the file being opened.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="extended" type="xsd:boolean">
      <xsd:annotation>
        <xsd:documentation>
          Set this to true to hide the verb in the Windows context menu unless the Shift key is pressed when opening the menu.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="file-type">
    <xsd:annotation>
      <xsd:documentation>
        An application's ability to open a certain file type.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="caps:verb-capability">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="extension" type="caps:extension" />
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="extension">
    <xsd:annotation>
      <xsd:documentation>
        A specific file extension used to identify a file type.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="value" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>
          The file extension including the leading dot (e.g. ".png").
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="mime-type" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>
          The MIME type associated with the file extension.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="perceived-type" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>
          Defines the broad category of file types (e.g. text, image, audio) this extension falls into. Should always be a canonical type.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="url-protocol">
    <xsd:annotation>
      <xsd:documentation>
        An application's ability to handle a certain URL protocol such as HTTP.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="caps:verb-capability">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="known-prefix" type="caps:known-prefix" />
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="known-prefix">
    <xsd:annotation>
      <xsd:documentation>
        Names a well-known protocol prefix. Used for protocols that are shared accross many applications (e.g. HTTP, FTP) but not for application-specific protocols.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="value" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>
          The value of the prefix (e.g. "http").
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="default-program">
    <xsd:annotation>
      <xsd:documentation>
        Can act as the default provider for a well-known service such web-browser, e-mail client.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="caps:verb-capability">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="install-commands" type="caps:install-commands" maxOccurs="1" />
        </xsd:choice>
        <xsd:attribute name="service" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>
              The name of the service (e.g. "StartMenuInternet", "Mail", "Media"). Always use a canonical name when possible.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="install-commands">
    <xsd:annotation>
      <xsd:documentation>
        Lists the commands the application normally registers for use by Windows' "Set Program Access and Defaults".
        Used by registry virtualization to stand in for the actual Zero Install commands at runtime.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="reinstall" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>
          The path (relative to the installation directory) to the executable used to set an application as the default program without any arguments.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="reinstall-args" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>
          Additional arguments for the executable specified in 'reinstall'.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="show-icons" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>
          The path (relative to the installation directory) to the executable used to create icons/shortcuts to the application without any arguments.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="show-icons-args" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>
          Additional arguments for the executable specified in 'show-icons'.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="hide-icons" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>
          The path (relative to the installation directory) to the executable used to remove icons/shortcuts to the application without any arguments.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="hide-icons-args" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>
          Additional arguments for the executable specified in 'hide-icons'.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="auto-play">
    <xsd:annotation>
      <xsd:documentation>
        An application's ability to handle one or more AutoPlay events.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="caps:icon-capability">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="verb" type="caps:verb" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>
                The command to execute when the handler gets called. Required!
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="event" type="caps:event">
            <xsd:annotation>
              <xsd:documentation>
                A specific <see cref="AutoPlay"/> event such as "Audio CD inserted". Required!
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
        <xsd:attribute name="provider" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>
              The name of the application as shown in the AutoPlay selection list.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="event">
    <xsd:attribute name="name" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>
          The name of the event.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="context-menu">
    <xsd:annotation>
      <xsd:documentation>
        An entry in the file manager's context menu for all file types.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="caps:default-capability">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="verb" type="caps:verb" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>
                The command to execute when the context menu entry is clicked. Required!
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
        <xsd:attribute name="target" type="caps:context-menu-target" default="files">
          <xsd:annotation>
            <xsd:documentation>
              Controls which file system object types this context menu entry is displayed for.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="com-server">
    <xsd:annotation>
      <xsd:documentation>
        An application's ability to act as a COM server.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="caps:capability" />
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Enumerations -->
  <xsd:simpleType name="context-menu-target">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="files">
        <xsd:annotation>
          <xsd:documentation>
            The context menu entry is displayed for all files.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="executable-files">
        <xsd:annotation>
          <xsd:documentation>
            The context menu entry is displayed for executable files.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="directories">
        <xsd:annotation>
          <xsd:documentation>
            The context menu entry is displayed for all directories.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="all">
        <xsd:annotation>
          <xsd:documentation>
            The context menu entry is displayed for all filesystem objects (files and directories).
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Localizable string -->
  <xsd:complexType name="localizable-string" mixed="true">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute ref="xml:lang" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>