vs/Model/Feed.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://zero-install.sourceforge.net/2004/injector/interface" elementFormDefault="qualified" targetNamespace="http://zero-install.sourceforge.net/2004/injector/interface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" />
  <xs:element name="interface" nillable="true" type="tns:Feed" />
  <xs:complexType name="Feed">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="name" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="summary" type="tns:LocalizableString" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="description" type="tns:LocalizableString" />
      <xs:element minOccurs="0" maxOccurs="1" name="homepage" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="icon" type="tns:Icon" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="category" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="needs-terminal" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="feed" type="tns:FeedReference" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="feed-for" type="tns:InterfaceReference" />
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="group" type="tns:Group" />
        <xs:element minOccurs="0" maxOccurs="1" name="implementation" type="tns:Implementation" />
        <xs:element minOccurs="0" maxOccurs="1" name="package-implementation" type="tns:PackageImplementation" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="min-injector-version" type="xs:string" use="optional" />
    <xs:attribute name="uri" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:complexType name="LocalizableString">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="xml:lang" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Icon">
    <xs:attribute name="href" type="xs:string" use="required" />
    <xs:attribute name="type" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="FeedReference">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TargetBase">
        <xs:attribute name="src" type="xs:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TargetBase" abstract="true">
    <xs:attribute name="langs" type="xs:string" use="optional" />
    <xs:attribute name="arch" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:complexType name="Element" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TargetBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="requires" type="tns:Dependency" />
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="environment" type="tns:EnvironmentBinding" />
            <xs:element minOccurs="0" maxOccurs="1" name="working-dir" type="tns:WorkingDirBinding" />
            <xs:element minOccurs="0" maxOccurs="1" name="overlay" type="tns:OverlayBinding" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="version" type="xs:string" use="optional" />
        <xs:attribute name="version-modifier" type="xs:string" use="optional" />
        <xs:attribute name="released" type="xs:string" use="optional" />
        <xs:attribute name="stability" type="tns:Stability" use="optional" />
        <xs:attribute name="license" type="xs:string" use="optional" />
        <xs:attribute name="main" type="xs:string" use="optional" />
        <xs:attribute name="self-test" type="xs:string" use="optional" />
        <xs:attribute name="doc-dir" type="xs:string" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Dependency">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="version" type="tns:Constraint" />
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="working-dir" type="tns:WorkingDirBinding" />
        <xs:element minOccurs="0" maxOccurs="1" name="environment" type="tns:EnvironmentBinding" />
        <xs:element minOccurs="0" maxOccurs="1" name="overlay" type="tns:OverlayBinding" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="interface" type="xs:string" use="required" />
    <xs:attribute name="use" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:complexType name="Constraint">
    <xs:attribute name="not-before" type="xs:string" use="optional" />
    <xs:attribute name="before" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:complexType name="WorkingDirBinding">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Binding">
        <xs:attribute name="src" type="xs:string" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Binding" abstract="true" />
  <xs:complexType name="OverlayBinding">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Binding">
        <xs:attribute name="src" type="xs:string" use="optional" />
        <xs:attribute name="mount-point" type="xs:string" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EnvironmentBinding">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Binding">
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="insert" type="xs:string" use="required" />
        <xs:attribute default="prepend" name="mode" type="tns:EnvironmentMode" use="optional" />
        <xs:attribute name="default" type="xs:string" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="EnvironmentMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="prepend" />
      <xs:enumeration value="append" />
      <xs:enumeration value="replace" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stability">
    <xs:restriction base="xs:string">
      <xs:enumeration value="stable" />
      <xs:enumeration value="testing" />
      <xs:enumeration value="developer" />
      <xs:enumeration value="buggy" />
      <xs:enumeration value="insecure" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PackageImplementation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Element">
        <xs:attribute name="package" type="xs:string" use="required" />
        <xs:attribute name="distributions" type="xs:string" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ImplementationBase" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Element">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="manifest-digest" type="tns:ManifestDigest" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required" />
        <xs:attribute name="local-path" type="xs:string" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ManifestDigest">
    <xs:attribute name="sha1" type="xs:string" use="optional" />
    <xs:attribute name="sha1new" type="xs:string" use="optional" />
    <xs:attribute name="sha256" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:complexType name="Implementation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ImplementationBase">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="recipe" type="tns:Recipe" />
            <xs:element minOccurs="0" maxOccurs="1" name="archive" type="tns:Archive" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Recipe">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetrievalMethod">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="archive" type="tns:Archive" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RetrievalMethod" abstract="true" />
  <xs:complexType name="RecipeStep" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetrievalMethod" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Archive">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RecipeStep">
        <xs:attribute name="href" type="xs:string" use="required" />
        <xs:attribute name="type" type="xs:string" use="optional" />
        <xs:attribute name="size" type="xs:long" use="required" />
        <xs:attribute name="start-offset" type="xs:long" use="optional" />
        <xs:attribute name="extract" type="xs:string" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Group">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Element">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="implementation" type="tns:Implementation" />
            <xs:element minOccurs="0" maxOccurs="1" name="package-implementation" type="tns:PackageImplementation" />
            <xs:element minOccurs="0" maxOccurs="1" name="group" type="tns:Group" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InterfaceReference">
    <xs:attribute name="interface" type="xs:string" use="required" />
  </xs:complexType>
</xs:schema>