src/DesktopIntegration/app-list.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://0install.de/schema/desktop-integration/app-list"
            targetNamespace="http://0install.de/schema/desktop-integration/app-list" elementFormDefault="qualified">
  <xsd:import namespace="http://0install.de/schema/desktop-integration/capabilities" schemaLocation="http://0install.de/schema/desktop-integration/capabilities/capabilities.xsd" />

  <xsd:element name="app-list" nillable="true" type="tns:app-list" />

  <xsd:complexType name="app-list">
    <xsd:annotation>
      <xsd:documentation>Stores a list of applications and the kind of desktop integration the user chose for them.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="app" type="tns:app" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="app">
    <xsd:annotation>
      <xsd:documentation>Represents an application indentified by its interface URI.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element minOccurs="0" maxOccurs="unbounded" xmlns:caps="http://0install.de/schema/desktop-integration/capabilities" ref="caps:capabilities" />
      <xsd:element minOccurs="0" maxOccurs="1" name="access-points" type="tns:access-points" />
    </xsd:choice>
    <xsd:attribute name="interface" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The URI or local path of the interface defining the application.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="name" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The name of the application. Usually equal to the name specified in the feed.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="auto-update" type="xsd:boolean">
      <xsd:annotation>
        <xsd:documentation>Set to true to automatically download the newest available version of the application as a regular background task. Update checks will still be performed when the application is launched when set to false.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="hostname" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>A regular expression a computer's hostname must match for this entry to be applied. Enables machine-specific entry filtering.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="timestamp" type="xsd:long">
      <xsd:annotation>
        <xsd:documentation>The time this entry was last modified encoded as Unix time (number of seconds since the epoch).</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="access-points">
    <xsd:annotation>
      <xsd:documentation>Contains a set of access-points that can be registered in a desktop environment.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="capability-registration" type="tns:capability-registration" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="desktop-icon" type="tns:desktop-icon" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="quick-launch" type="tns:quick-launch" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="url-protocol" type="tns:url-protocol" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="auto-play" type="tns:auto-play" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="context-menu" type="tns:context-menu" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="default-program" type="tns:default-program" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="alias" type="tns:alias" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="file-type" type="tns:file-type" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="menu-entry" type="tns:menu-entry" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="send-to" type="tns:send-to" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="access-point" abstract="true">
    <xsd:annotation>
      <xsd:documentation>An access point represents changes to the desktop environment's UI which the user explicitly requested.</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  <xsd:complexType name="capability-registration">
    <xsd:annotation>
      <xsd:documentation>Indicates that all compatible capabilities should be registered.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:access-point" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="default-access-point" abstract="true">
    <xsd:annotation>
      <xsd:documentation>Makes an application the default handler for something.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:access-point">
        <xsd:attribute name="capability" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>The ID of the capability to be made the default handler.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="auto-play">
    <xsd:annotation>
      <xsd:documentation>Makes an application the default AutoPlay handler for a specific event.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:default-access-point" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="context-menu">
    <xsd:annotation>
      <xsd:documentation>Integrates an application into a file manager's context menu.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:default-access-point" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="default-program">
    <xsd:annotation>
      <xsd:documentation>Makes an application a default program of some kind (e.g. default web-browser, default e-mail client, ...).</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:default-access-point" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="file-type">
    <xsd:annotation>
      <xsd:documentation>Makes an application the default handler for a specific file type.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:default-access-point" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="url-protocol">
    <xsd:annotation>
      <xsd:documentation>Makes an application the default handler for a specific URL protocol.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:default-access-point" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="command-access-point" abstract="true">
    <xsd:annotation>
      <xsd:documentation>Adds a way to explicitly launch the application to the desktop environment.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:access-point">
        <xsd:attribute name="command" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>The name of the command to use when launching via this access point. Leave empty or unset to use default.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="alias">
    <xsd:annotation>
      <xsd:documentation>Makes an application discoverable via the system's search PATH.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:command-access-point">
        <xsd:attribute name="name" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>The name of the command-line command (without a file extension).</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="icon-access-point" abstract="true">
    <xsd:annotation>
      <xsd:documentation>Creates some form of icon in the dektop environment.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:command-access-point">
        <xsd:attribute name="name" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>The user-defined override for name of the icon. Leve empty or unset to use the name from the feed + the entry-point name.</xsd:documentation>
          </xsd:annotation>          
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="menu-entry">
    <xsd:annotation>
      <xsd:documentation>Creates an entry for an application in the user's application menu (i.e. Windows start menu, GNOME application menu, etc.).</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:icon-access-point">
        <xsd:attribute name="category" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>The category or folder in the menu to add the entry to. Leave unset or empty for top-level entry.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="desktop-icon">
    <xsd:annotation>
      <xsd:documentation>Creates an icon for an application on the user's desktop.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:icon-access-point" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="quick-launch">
    <xsd:annotation>
      <xsd:documentation>Creates a shortcut for an application in the Quick Launch bar.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:icon-access-point" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="send-to">
    <xsd:annotation>
      <xsd:documentation>Creates a shortcut for an application in the "Send to" menu.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:icon-access-point" />
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>