src/DesktopIntegration/app-list.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:apps="http://0install.de/schema/desktop-integration/app-list"
            xmlns:caps="http://0install.de/schema/desktop-integration/capabilities"
            targetNamespace="http://0install.de/schema/desktop-integration/app-list"
            id="app-list" elementFormDefault="qualified">
  <xsd:import namespace="http://0install.de/schema/desktop-integration/capabilities" schemaLocation="http://0install.de/schema/desktop-integration/capabilities/capabilities.xsd" />

  <!-- Root element -->
  <xsd:element name="app-list" type="apps:app-list" />
  <xsd:complexType name="app-list">
    <xsd:annotation>
      <xsd:documentation>Stores a list of applications and the kind of desktop integration the user chose for them.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="app" type="apps:app" />
    </xsd:choice>
  </xsd:complexType>

  <!-- Applications -->
  <xsd:complexType name="app">
    <xsd:annotation>
      <xsd:documentation>Represents an application indentified by its interface URI.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="requirements-json" type="xsd:string" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            A set of requirements/restrictions imposed by the user on the implementation selection process in a JSON-serialized format.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="caps:capabilities" />
      <xsd:element name="access-points" type="apps:access-points" maxOccurs="1" />
    </xsd:choice>
    <xsd:attribute name="interface" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The URI or local path of the interface defining the application.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="name" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The name of the application. Usually equal to the name specified in the feed.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="auto-update" type="xsd:boolean">
      <xsd:annotation>
        <xsd:documentation>Set to true to automatically download the newest available version of the application as a regular background task. Update checks will still be performed when the application is launched when set to false.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="hostname" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>A regular expression a computer's hostname must match for this entry to be applied. Enables machine-specific entry filtering.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="timestamp" type="xsd:long">
      <xsd:annotation>
        <xsd:documentation>The time this entry was last modified encoded as Unix time (number of seconds since the epoch).</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <!-- Access points -->
  <xsd:complexType name="access-points">
    <xsd:annotation>
      <xsd:documentation>Contains a set of access-points that can be registered in a desktop environment.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="capability-registration" type="apps:capability-registration" />
      <xsd:element name="desktop-icon" type="apps:desktop-icon" />
      <xsd:element name="quick-launch" type="apps:quick-launch" />
      <xsd:element name="url-protocol" type="apps:url-protocol" />
      <xsd:element name="auto-play" type="apps:auto-play" />
      <xsd:element name="context-menu" type="apps:context-menu" />
      <xsd:element name="default-program" type="apps:default-program" />
      <xsd:element name="alias" type="apps:alias" />
      <xsd:element name="file-type" type="apps:file-type" />
      <xsd:element name="menu-entry" type="apps:menu-entry" />
      <xsd:element name="send-to" type="apps:send-to" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="access-point" abstract="true">
    <xsd:annotation>
      <xsd:documentation>An access point represents changes to the desktop environment's UI which the user explicitly requested.</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  <xsd:complexType name="capability-registration">
    <xsd:annotation>
      <xsd:documentation>Indicates that all compatible capabilities should be registered.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="apps:access-point" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="default-access-point" abstract="true">
    <xsd:annotation>
      <xsd:documentation>Makes an application the default handler for something.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="apps:access-point">
        <xsd:attribute name="capability" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>The ID of the capability to be made the default handler.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="auto-play">
    <xsd:annotation>
      <xsd:documentation>Makes an application the default AutoPlay handler for a specific event.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="apps:default-access-point" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="context-menu">
    <xsd:annotation>
      <xsd:documentation>Integrates an application into a file manager's context menu.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="apps:default-access-point" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="default-program">
    <xsd:annotation>
      <xsd:documentation>Makes an application a default program of some kind (e.g. default web-browser, default e-mail client, ...).</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="apps:default-access-point" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="file-type">
    <xsd:annotation>
      <xsd:documentation>Makes an application the default handler for a specific file type.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="apps:default-access-point" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="url-protocol">
    <xsd:annotation>
      <xsd:documentation>Makes an application the default handler for a specific URL protocol.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="apps:default-access-point" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="command-access-point" abstract="true">
    <xsd:annotation>
      <xsd:documentation>Adds a way to explicitly launch the application to the desktop environment.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="apps:access-point">
        <xsd:attribute name="command" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>The name of the command to use when launching via this access point. Leave empty or unset to use default.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="alias">
    <xsd:annotation>
      <xsd:documentation>Makes an application discoverable via the system's search PATH.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="apps:command-access-point">
        <xsd:attribute name="name" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>The name of the command-line command (without a file extension).</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="icon-access-point" abstract="true">
    <xsd:annotation>
      <xsd:documentation>Creates some form of icon in the dektop environment.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="apps:command-access-point">
        <xsd:attribute name="name" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>The user-defined override for name of the icon. Leve empty or unset to use the name from the feed + the entry-point name.</xsd:documentation>
          </xsd:annotation>          
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="menu-entry">
    <xsd:annotation>
      <xsd:documentation>Creates an entry for an application in the user's application menu (i.e. Windows start menu, GNOME application menu, etc.).</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="apps:icon-access-point">
        <xsd:attribute name="category" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>The category or folder in the menu to add the entry to. Leave unset or empty for top-level entry.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="desktop-icon">
    <xsd:annotation>
      <xsd:documentation>Creates an icon for an application on the user's desktop.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="apps:icon-access-point" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="quick-launch">
    <xsd:annotation>
      <xsd:documentation>Creates a shortcut for an application in the Quick Launch bar.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="apps:icon-access-point" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="send-to">
    <xsd:annotation>
      <xsd:documentation>Creates a shortcut for an application in the "Send to" menu.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="apps:icon-access-point" />
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>