src/Backend/Store/Model/interface.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xml="http://www.w3.org/XML/1998/namespace"
            xmlns:feed="http://zero-install.sourceforge.net/2004/injector/interface"
            targetNamespace="http://zero-install.sourceforge.net/2004/injector/interface"
            id="feed" elementFormDefault="qualified">
  <xsd:import namespace="http://www.w3.org/XML/1998/namespace" />

  <!-- Common base type -->
  <xsd:complexType name="feed-element" abstract="true">
    <xsd:attribute name="if-0install-version" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>
          To make it possible to use newer features in a feed without breaking older versions of 0install, the if-0install-version attribute may be placed on any element to indicate that the element should only be processed by the specified versions of 0install.
          0install versions before 1.13 ignore this attribute and process all elements.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:anyAttribute namespace="##other" />
  </xsd:complexType>

  <!-- Root element -->
  <xsd:element name="interface" type="feed:feed" />
  <xsd:complexType name="feed">
    <xsd:annotation>
      <xsd:documentation>
        A feed/interface contains all the information required to download and execute an application.
        It is usually downloaded and updated from a specific URI but may also be a local file.
        Feeds downloaded from remote locations are protected from tampering by a OpenPGP signature.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feed:feed-element">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="name" type="xsd:string" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>
                A short name to identify the interface (e.g. "Foo"). Required!
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="summary" type="feed:localizable-string">
            <xsd:annotation>
              <xsd:documentation>
                Short one-line description; the first word should not be upper-case unless it is a proper noun (e.g. "cures all ills"). Required!
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="description" type="feed:localizable-string">
            <xsd:annotation>
              <xsd:documentation>
                Full description, which can be several paragraphs long.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="homepage" type="xsd:string" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>
                The URL of a web-page describing this interface in more detail.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="feed:icon">
            <xsd:annotation>
              <xsd:documentation>
                Zero or more icons representing the application. Used in the Catalog GUI as well as for desktop icons, menu entries, etc..
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="category" type="feed:category" />
          <xsd:element name="needs-terminal" type="xsd:string" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>
                If present, this element indicates that the program requires a terminal in order to run. Graphical launchers should therefore run this program in a suitable terminal emulator.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="feed" type="feed:feed-reference">
            <xsd:annotation>
              <xsd:documentation>
                A linked feed that contains more implementations of this feed's interface. Is treated by the solver as if it were part of the main feed.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="feed-for" type="feed:interface-reference">
            <xsd:annotation>
              <xsd:documentation>
                The implementations in this feed are implementations of the given interface. This is used when adding a third-party feed.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="replaced-by" type="feed:interface-reference" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>
                This feed's interface has been replaced by the given interface. Any references to the old URI should be updated to use the new one.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="implementation" type="feed:implementation" />
          <xsd:element name="package-implementation" type="feed:package-implementation" />
          <xsd:element name="group" type="feed:group" />
          <xsd:element name="entry-point" type="feed:entry-point" />
          <xsd:any namespace="##other" />
        </xsd:choice>
        <xsd:attribute name="min-injector-version" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              This attribute gives the oldest version of the injector that can read this file. Older versions will tell the user to upgrade if they are asked to read the file. Versions prior to 0.20 do not perform this check, however. If the attribute is not present, the file can be read by all versions.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="uri" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              This attribute is only needed for remote feeds (fetched via HTTP). The value must exactly match the expected URL, to prevent an attacker replacing one correctly-signed feed with another (e.g., returning a feed for the shred program when the user asked for the backup program).
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Shared data type -->
  <xsd:element name="icon" type="feed:icon" />
  <xsd:complexType name="icon">
    <xsd:complexContent>
      <xsd:extension base="feed:feed-element">
        <xsd:attribute name="href" type="xsd:anyURI" use="required">
          <xsd:annotation>
            <xsd:documentation>
              The URL used to locate the icon.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="type" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>
              The MIME type of the icon. This value is case-insensitive.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Application meta data -->
  <xsd:complexType name="category" mixed="true">
    <xsd:annotation>
      <xsd:documentation>
        An application category (e.g. Game or Office). Used for organizing application menus.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="type" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              If no type is given, then the category is one of the 'Main' categories defined by the freedesktop.org menu specification. Otherwise, it is a URI giving the namespace for the category.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="feed-reference">
    <xsd:complexContent>
      <xsd:extension base="feed:feed-element">
        <xsd:attribute name="src" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>
              The URL or local path used to locate the feed.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="langs" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              The natural language(s) which the implementations in the feed support.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="arch" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              For platform-specific binaries, the platform for which the implementations in the feed were compiled, in the form os-cpu. Either the os or cpu part may be *, which will make it available on any OS or CPU.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="interface-reference">
    <xsd:complexContent>
      <xsd:extension base="feed:feed-element">
        <xsd:attribute name="interface" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>
              The URI used to locate the interface.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="entry-point">
    <xsd:annotation>
      <xsd:documentation>
        Associates a command with a user-friendly name and description.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feed:feed-element">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="needs-terminal" type="xsd:string" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>
                If present, this element indicates that the command represented by this entry point requires a terminal in order to run. Graphical launchers should therefore execute this entry point in a suitable terminal emulator.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="suggest-auto-start" type="xsd:string" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>
                If present, this element indicates that this entry point should be offered as an auto-start candidate to the user.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="suggest-send-to" type="xsd:string" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>
                If present, this element indicates that this entry point should be offered as a candidate for the "Send To" context menu to the user.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="name" type="feed:localizable-string">
            <xsd:annotation>
              <xsd:documentation>
                Localized user-friendly name for the command. If not present, the command attribute is used instead.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="summary" type="feed:localizable-string">
            <xsd:annotation>
              <xsd:documentation>
                Short one-line description; the first word should not be upper-case unless it is a proper noun (e.g. "cures all ills").
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="description" type="feed:localizable-string">
            <xsd:annotation>
              <xsd:documentation>
                Full description, which can be several paragraphs long.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="icon" type="feed:icon">
            <xsd:annotation>
              <xsd:documentation>
                An icon representing the command. Used for desktop icons, menu entries, etc..
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:any namespace="##other" />
        </xsd:choice>
        <xsd:attribute name="command" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>
              The name of the command this entry point represents.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="binary-name" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              The canonical name of the binary supplying the command (without file extensions). This is used to suggest suitable alias names.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Implementations -->
  <xsd:complexType name="element" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="feed:feed-element">
        <xsd:attribute name="langs" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              The natural language(s) which the implementation supports.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="arch" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              For platform-specific binaries, the platform for which the implementation was compiled, in the form os-cpu. Either the os or cpu part may be *, which will make it available on any OS or CPU.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="version" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              The version number of the implementation.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="version-modifier" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              A string to be appended to the version. The purpose of this is to allow complex version numbers (such as "1.0-rc2") in older versions of the injector.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="released" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              The date this implementation was made available. For development versions checked out from version control this attribute should not be present.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="stability" type="feed:stability">
          <xsd:annotation>
            <xsd:documentation>
              The default stability rating for this implementation.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="license" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              License terms (typically a Trove category, as used on freshmeat.net).
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="main" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              The relative path of an executable inside the implementation that should be executed by default when the interface is run. If an implementation has no main setting, then it cannot be executed without specifying one manually. This typically means that the interface is for a library.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="self-test" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              The relative path of an executable inside the implementation that can be executed to test the program. The program must be non-interactive (e.g. it can't open any windows or prompt for input). It should return with an exit status of zero if the tests pass. Any other status indicates failure.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="doc-dir" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              The relative path of a directory inside the implementation that contains the package's documentation. This is the directory that would end up inside /usr/share/doc on a traditional Linux system.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="implementation">
    <xsd:annotation>
      <xsd:documentation>
        An implementation is a specific version of an application that can be downloaded and executed (e.g. Firefox 3.6 for Windows).
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feed:element">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="binding" type="feed:binding" />
          <xsd:element name="environment" type="feed:environment" />
          <xsd:element name="overlay" type="feed:overlay" />
          <xsd:element name="executable-in-var" type="feed:executable-in-var" />
          <xsd:element name="executable-in-path" type="feed:executable-in-path" />
          <xsd:element name="command" type="feed:command" />
          <xsd:element name="requires" type="feed:dependency" />
          <xsd:element name="restricts" type="feed:restriction" />
          <xsd:element name="manifest-digest" type="feed:manifest-digest" maxOccurs="1" />
          <xsd:element name="recipe" type="feed:recipe" />
          <xsd:element name="archive" type="feed:archive" />
          <xsd:element name="file" type="feed:file" />
          <xsd:any namespace="##other" />
        </xsd:choice>
        <xsd:attribute name="id" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>
              A unique identifier for this implementation. Used when storing implementation-specific user preferences.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="local-path" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              If the feed file is a local file (the interface 'uri' starts with /) then the local-path attribute may contain the pathname of a local directory (either an absolute path or a path relative to the directory containing the feed file).
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="package-implementation">
    <xsd:annotation>
      <xsd:documentation>
        An implementation provided by a distribution-specific package manager instead of Zero Install.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feed:element">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:any namespace="##other" />
        </xsd:choice>
        <xsd:attribute name="package" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>
              The name of the package in the distribution-specific package manager.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="distributions" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              A space-separated list of distribution names where the package name applies.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="group">
    <xsd:annotation>
      <xsd:documentation>
        All attributes of a group are inherited by any child groups and implementations as defaults, but can be overridden there.
        All dependencies and bindings are inherited (sub-groups may add more dependencies and bindings to the list, but cannot remove any).
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feed:element">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="binding" type="feed:binding" />
          <xsd:element name="environment" type="feed:environment" />
          <xsd:element name="overlay" type="feed:overlay" />
          <xsd:element name="executable-in-var" type="feed:executable-in-var" />
          <xsd:element name="executable-in-path" type="feed:executable-in-path" />
          <xsd:element name="command" type="feed:command" />
          <xsd:element name="requires" type="feed:dependency" />
          <xsd:element name="restricts" type="feed:restriction" />
          <xsd:element name="implementation" type="feed:implementation" />
          <xsd:element name="package-implementation" type="feed:package-implementation" />
          <xsd:element name="group" type="feed:group" />
          <xsd:any namespace="##other" />
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Implementation meta data -->
  <xsd:complexType name="manifest-digest">
    <xsd:annotation>
      <xsd:documentation>
        A manifest digest is a means of uniquely identifying an implementation and verifying its contents.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feed:feed-element">
        <xsd:attribute name="sha1" type="xsd:string" />
        <xsd:attribute name="sha1new" type="xsd:string" />
        <xsd:attribute name="sha256" type="xsd:string" />
        <xsd:attribute name="sha256new" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="command">
    <xsd:annotation>
      <xsd:documentation>
        A Command says how to run an implementation as a program.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feed:feed-element">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="arg" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                A single command-line argument to be passed to an implementation executable.
                Will be automatically escaped to allow proper concatenation of multiple arguments containing spaces.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="for-each" type="feed:for-each-arg" />
          <xsd:element name="binding" type="feed:binding" />
          <xsd:element name="environment" type="feed:environment" />
          <xsd:element name="overlay" type="feed:overlay" />
          <xsd:element name="executable-in-var" type="feed:executable-in-var" />
          <xsd:element name="executable-in-path" type="feed:executable-in-path" />
          <xsd:element name="requires" type="feed:dependency" />
          <xsd:element name="restricts" type="feed:restriction" />
          <xsd:element name="working-dir" type="feed:working-dir" maxOccurs="1" />
          <xsd:element name="runner" type="feed:runner" maxOccurs="1" />
          <xsd:any namespace="##other" />
        </xsd:choice>
        <xsd:attribute name="name" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              The name of the command.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="path" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              The relative path of an executable inside the implementation that should be executed to run this command.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="for-each-arg">
    <xsd:complexContent>
      <xsd:annotation>
        <xsd:documentation>
          Expands an environment variable to multiple arguments.
          The variable specified in the 'item-from' attribute is split using the separator character and the arguments inside the element are added once for each item.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:extension base="feed:feed-element">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="arg" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                A single command-line argument to be passed to an executable. "${item}" will be substituted with each for-each value.
                Will be automatically escaped to allow proper concatenation of multiple arguments containing spaces.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
        <xsd:attribute name="item-from" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>
              The name of the environment variable to be expanded.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="separator" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              Overrides the default separator character (":" on POSIX and ";" on Windows).
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Dependencies -->
  <xsd:complexType name="restriction-base" abstract="true">
    <xsd:annotation>
      <xsd:documentation>
        A reference to an interface that is restricted to specific versions when used.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feed:feed-element">
        <xsd:attribute name="interface" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>
              The URI or local path used to identify the interface.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="os" type="feed:os" default="*">
          <xsd:annotation>
            <xsd:documentation>
              Determines for which operating systems this dependency is required.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="distribution" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              Specifies that the selected implementation must be from the given distribution (e.g. Debian, RPM).
              The special value '0install' may be used to require an implementation provided by Zero Install (i.e. one not provided by a &lt;package-implementation&gt;).
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="version" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              A more flexible alternative to &lt;version&gt; tags. A list of ranges, separated by "|", any of which may match.
              Each range is in the form "START..!END". The range matches versions where START &lt;= VERSION &lt; END. The start or end may be omitted. A single version number may be used instead of a range to match only that version, or !VERSION to match everything except that version.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="restriction">
    <xsd:annotation>
      <xsd:documentation>
        A reference to an interface that is restricted to specific versions when used.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feed:restriction-base">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="version" type="feed:constraint">
            <xsd:annotation>
              <xsd:documentation>
                Restricts the versions of an implementation that are allowed without creating a dependency on the implementation if its was not already chosen.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:any namespace="##other" />
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="dependency">
    <xsd:annotation>
      <xsd:documentation>
        A reference to an interface that is required as dependency.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feed:restriction-base">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="version" type="feed:constraint">
            <xsd:annotation>
              <xsd:documentation>
                Restricts the versions that are allowed.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="binding" type="feed:binding" />
          <xsd:element name="environment" type="feed:environment" />
          <xsd:element name="overlay" type="feed:overlay" />
          <xsd:element name="executable-in-var" type="feed:executable-in-var" />
          <xsd:element name="executable-in-path" type="feed:executable-in-path" />
          <xsd:any namespace="##other" />
        </xsd:choice>
        <xsd:attribute name="importance" type="feed:importance" default="essential">
          <xsd:annotation>
            <xsd:documentation>
              Controls how important this dependency is (i.e. whether ignoring it is an option).
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="use" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              This can be used to indicate that this dependency is only needed in some cases. Deprecated; use &lt;command&gt;s instead.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="os" type="feed:os" default="*">
          <xsd:annotation>
            <xsd:documentation>
              Determines for which operating system this dependency is required.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="runner">
    <xsd:annotation>
      <xsd:documentation>
        A special kind of dependency: the program that is used to run this one. For example, a Python program might specify Python as its runner.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feed:restriction-base">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="version" type="feed:constraint">
            <xsd:annotation>
              <xsd:documentation>
                Restricts the versions that are allowed.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="binding" type="feed:binding" />
          <xsd:element name="environment" type="feed:environment" />
          <xsd:element name="overlay" type="feed:overlay" />
          <xsd:element name="executable-in-var" type="feed:executable-in-var" />
          <xsd:element name="executable-in-path" type="feed:executable-in-path" />
          <xsd:element name="arg" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                A single command-line argument to be passed to the runner before the path of the implementation.
                Will be automatically escaped to allow proper concatenation of multiple arguments containing spaces.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="for-each" type="feed:for-each-arg" />
          <xsd:any namespace="##other" />
        </xsd:choice>
        <xsd:attribute name="command" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              The name of the command in the interface to use.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="constraint">
    <xsd:complexContent>
      <xsd:extension base="feed:feed-element">
        <xsd:attribute name="not-before" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              This is the lowest-numbered version that can be chosen.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="before" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              This version and all later versions are unsuitable.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Bindings -->
  <xsd:complexType name="binding-base" abstract="true">
    <xsd:annotation>
      <xsd:documentation>
        Bindings specify how the chosen implementation is made known to the running program.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feed:feed-element" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="binding">
    <xsd:annotation>
      <xsd:documentation>
        Zero Install will not know how to run a program using generic bindings itself, but it will include them in any selections documents it creates, which can then be executed by your custom code.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feed:binding-base">
        <xsd:attribute name="path" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              If your binding needs a path within the selected implemention, it is suggested that the path attribute be used for this. Other attributes and child elements should be namespaced to avoid collisions.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="command" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              If set Zero Install will select the given command within the implementation (which may cause additional dependencies and bindings to be selected). Otherwise, no command is selected.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="environment">
    <xsd:annotation>
      <xsd:documentation>
        Make a chosen implementation available by setting environment variables.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feed:binding-base">
        <xsd:attribute name="name" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>
              The name of the environment variable.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              A static value to set the variable to. If this is set 'insert' must be empty.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="insert" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              The relative path of the item within the implementation to insert into the variable's value. Use "." to publish the root directory. If this is set 'value' must be empty.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="mode" type="feed:environment-mode" default="prepend">
          <xsd:annotation>
            <xsd:documentation>
              Controls how 'insert' or 'value' is added to the variable.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="separator" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              Overrides the default separator character (":" on POSIX and ";" on Windows).
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="default" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              If the environment variable is not currently set then this value is used for prepending or appending.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="overlay">
    <xsd:annotation>
      <xsd:documentation>
        Make a chosen implementation available by overlaying it onto another part of the file-system.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feed:binding-base">
        <xsd:attribute name="src" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              The relative path of the directory in the implementation to publish. The default is to publish everything.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="mount-point" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              The mount point on which src is to appear in the filesystem. If missing, '/' (on POSIX) or '%systemdrive%' (on Windows) is assumed.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="executable-in-binding" abstract="true">
    <xsd:annotation>
      <xsd:documentation>
        Make a chosen implementation available as an executable at runtime.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feed:feed-element">
        <xsd:attribute name="command" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              The name of the command in the implementation to launch. If missing, 'run' is assumed.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="executable-in-var">
    <xsd:annotation>
      <xsd:documentation>
        Make a chosen implementation available as an executable path in an environment variable.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feed:executable-in-binding">
        <xsd:attribute name="name" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>
              The name of the environment variable.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="executable-in-path">
    <xsd:annotation>
      <xsd:documentation>
        Make a chosen implementation available as an executable in the search PATH.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feed:executable-in-binding">
        <xsd:attribute name="name" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>
              The name of the executable (without file extensions).
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="working-dir">
    <xsd:annotation>
      <xsd:documentation>
        Switches the working directory of a process on startup to a location within an implementation.
        Useful for supporting legacy Windows applications which do not properly locate their installation directory.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="src" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>
          The relative path of the directory in the implementation to set as the working directory. Defaults to use the root of the implementation if unset.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <!-- Retrieval methods -->
  <xsd:complexType name="retrieval-method" abstract="true">
    <xsd:annotation>
      <xsd:documentation>
        A retrieval method is a way of getting a copy of an implementation.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feed:feed-element" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="download-retrieval-method" abstract="true">
    <xsd:annotation>
      <xsd:documentation>
        Represents a retrieval method that downloads data from the net.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feed:retrieval-method">
        <xsd:attribute name="href" type="xsd:anyURI" use="required">
          <xsd:annotation>
            <xsd:documentation>
              The URL used to locate the archive.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="size" type="xsd:long" use="required">
          <xsd:annotation>
            <xsd:documentation>
              The size of the file in bytes. The file must have the given size or it will be rejected.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="archive">
    <xsd:annotation>
      <xsd:documentation>
        Retrieves an implementation by downloading and extracting an archive.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feed:download-retrieval-method">
        <xsd:attribute name="type" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              The type of the archive as a MIME type. If missing, the type is guessed from the extension on the 'Location' attribute. This value is case-insensitive.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="start-offset" type="xsd:long">
          <xsd:annotation>
            <xsd:documentation>
              The number of bytes at the beginning of the file which should be ignored. The value in the size attribute does not include the skipped bytes.
              This is useful for some self-extracting archives which are made up of a shell script followed by a normal archive in a single file.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="extract" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              The name of the subdirectory in the archive to extract; empty or unset for entire archive.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="dest" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              The subdirectory within the implementation directory to extract this archive to; empty unset for top-level.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="file">
    <xsd:annotation>
      <xsd:documentation>
        Retrieves an implementation by downloading a single file.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feed:download-retrieval-method">
        <xsd:attribute name="dest" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>
              The file's target path relative to the implementation root as a Unix-style path.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="recipe">
    <xsd:annotation>
      <xsd:documentation>
        Retrieves an implementation by applying a list of recipe steps, such as downloading and combining multiple archives.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feed:retrieval-method">
        <xsd:choice minOccurs="1" maxOccurs="unbounded">
          <xsd:element name="archive" type="feed:archive" />
          <xsd:element name="file" type="feed:file" />
          <xsd:element name="rename" type="feed:rename" />
          <xsd:element name="remove" type="feed:remove" />
          <xsd:element name="copy-from" type="feed:rename" />
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="recipe-step" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="feed:feed-element" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="rename">
    <xsd:annotation>
      <xsd:documentation>
        Renames or moves a file or directory. It is an error if the source or destination are outside the implementation.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feed:recipe-step">
        <xsd:attribute name="source" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>
              The source file or directory relative to the implementation root as a Unix-style path.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="dest" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>
              The destination file or directory relative to the implementation root as a Unix-style path.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="remove">
    <xsd:annotation>
      <xsd:documentation>
        Removes or moves a file or directory. It is an error if the path is outside the implementation.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feed:recipe-step">
        <xsd:attribute name="source" type="xsd:string" use="required" />
        <xsd:attribute name="path" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>
              The file or directory to be removed relative to the implementation root as a Unix-style path.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="copy-from">
    <xsd:annotation>
      <xsd:documentation>
        Copies files or directories from another implementation specified elsewhere in the same feed.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="feed:recipe-step">
        <xsd:attribute name="id" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>
              The ID of the implementation to copy from.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="source" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              The source file or directory relative to the source implementation root as a Unix-style path. Leave unset to copy the entire implementation.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="dest" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              The destination file or directory relative to the destination implementation root as a Unix-style path. Leave unset to copy to the root of the new implementation. Must be set if 'source' points to a file rather than a directory.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Enumerations -->
  <xsd:simpleType name="importance">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="essential">
        <xsd:annotation>
          <xsd:documentation>
            A version of the dependency must be selected.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="recommended">
        <xsd:annotation>
          <xsd:documentation>
            No version of the dependency is also an option, although selecting a version is preferable to not selecting one.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="os">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="*">
        <xsd:annotation>
          <xsd:documentation>
            Any operating system
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Linux" />
      <xsd:enumeration value="Solaris" />
      <xsd:enumeration value="MacOSX">
        <xsd:annotation>
          <xsd:documentation>
            MacOS X
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Darwin">
        <xsd:annotation>
          <xsd:documentation>
            non-graphical core of MacOS X
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Cygwin">
        <xsd:annotation>
          <xsd:documentation>
            POSIX compatability layer on Windows
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="POSIX">
        <xsd:annotation>
          <xsd:documentation>
            any POSIX-compatible system (Linux, Solaris, MacOS X, Cygwin, ...=
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Windows">
        <xsd:annotation>
          <xsd:documentation>
            Windows 2000 or newer
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="environment-mode">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="prepend">
        <xsd:annotation>
          <xsd:documentation>
            The absolute path of the item is prepended to the current value of the variable.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="append">
        <xsd:annotation>
          <xsd:documentation>
            The absolute path of the item is append to the end of the current value of the variable.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="replace">
        <xsd:annotation>
          <xsd:documentation>
            The old value is overwritten, and the 'default' attribute is ignored.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="stability">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="preferred">
        <xsd:annotation>
          <xsd:documentation>
            Set by user as a personal preference overriding other stability criteria.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="packaged">
        <xsd:annotation>
          <xsd:documentation>
            Indicates that an implementation is provided as a package-implementation.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="stable">
        <xsd:annotation>
          <xsd:documentation>No serious problems.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="testing">
        <xsd:annotation>
          <xsd:documentation>Any new release.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="developer">
        <xsd:annotation>
          <xsd:documentation>
            More extreme version of "testing", expected to have bugs.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="buggy">
        <xsd:annotation>
          <xsd:documentation>
            Known bugs, none security-related.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="insecure">
        <xsd:annotation>
          <xsd:documentation>
            Known bugs, some or all security-related.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Localizable string -->
  <xsd:complexType name="localizable-string" mixed="true">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute ref="xml:lang" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>